<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>
 <connectionStrings>
    
    <add name="ElecConnection" connectionString="Data Source=124.109.50.186\HACIM;Initial Catalog=Elec;User ID=sa;Password=Hacim$321" providerName="System.Data.SqlClient" />
     <!--<add name="ElecConnection" connectionString="Data Source=CID202\OMAR;Initial Catalog=Elec;Integrated Security=True" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
</configuration>
